<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>HTML Forms</title>
</head>
<body>
    <div>
        <hr>
        <row>
            <form action="/login" method="post">
                <label for="name">Name</label>
                <input type="text" name="username" placeholder="name">
                <label for="password">Password</label>
                <input type="text" name="password" placeholder="password">
                <input type="submit" value="Ok">
            </form>
        </row>
    </div>
   
</body>
</html>
